/*
* All custom style put here
*/
/* Déclaration constantes */
html {
  font-family: 'Open Sans', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6,
.block-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: #839e9a;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #839e9a;
}
a:not(.btn) {
  color: black;
}
a.anchor {
  display: block;
  position: relative;
  top: -106px;
  visibility: hidden;
  height: 0;
}
label {
  font-weight: 300;
}
tbody {
  border: none;
}
.filled {
  content: "&nbsp;";
}
.btn {
  border: none;
  color: black;
  padding-left: 41px;
  background-position-y: 5px;
  background-position-x: 0;
  background-repeat: no-repeat;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  white-space: normal;
}
.btn.btn-check {
  background-image: url('../images/IC_Crochet_27x27.png');
}
.btn.btn-warning {
  background-image: url('../images/IC_Note_27x27.png');
}
.btn.btn-register {
  background-image: url('../images/IC_Plus.png');
  font-size: 23px;
  background-position-y: 10px;
}
.btn.btn-primary:hover {
  background-color: #839e9a;
}
.btn.btn-primary:hover a {
  color: white;
}
section#section-header {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  margin-top: 10px;
}
section#section-header .col-xs-8.col-sm-10.col-md-3.col-lg-3 {
  display: none;
}
section#section-header .region-top-left {
  float: left;
}
section#section-header .region-top-right {
  float: right;
}
section#section-header .region-top-right div#block-block-2 {
  float: right;
}
section#section-header .region-user-01 .block-title {
  text-align: center;
  text-transform: uppercase;
  color: #839e9a;
}
section#section-header .region-user-01 .block-menu {
  float: left;
}
section#section-header .region-user-01 .block-menu ul {
  height: 44px;
  border-right: 1px solid;
  margin: 0 0 17px;
  padding: 0 5px;
}
section#section-header .region-user-01 .block-menu ul li {
  display: block;
  float: left;
  padding: 5px 9px;
  margin: 0;
}
section#section-header .region-user-01 .block-menu ul li a {
  line-height: 17px;
  padding: 0;
}
section#section-header .region-user-01 .block-menu ul li:hover,
section#section-header .region-user-01 .block-menu ul li.active {
  background-color: #839e9a;
}
section#section-header .region-user-01 .block-menu ul li:hover a,
section#section-header .region-user-01 .block-menu ul li.active a {
  color: white;
}
section#section-header .region-user-01 #block-menu-menu-sous-menu-usager-proposit.block-menu ul {
  border-right: none;
}
section#section-header .dexp-dropdown > ul > li > a,
section#section-header .dexp-dropdown > ul > li > span.nolink {
  font-size: 16px;
}
section#section-main-content {
  margin-bottom: 96px;
}
section#section-main-content .region-content {
  font-size: 14px;
}
section#section-user-4 {
  position: fixed;
  bottom: 0;
  height: 96px;
  width: 100%;
}
section#section-user-4 .region-user-00,
section#section-user-4 .region-user-02 {
  background: none;
  color: black;
  background-color: white;
  padding: 12px 0;
}
section#section-user-4 .region-user-00 div.logo,
section#section-user-4 .region-user-02 div.logo {
  float: left;
  clear: none;
}
section#section-user-4 .region-user-00 {
  opacity: 0;
}
section#section-user-4 #block-block-6 {
  border-top: solid black 2px;
}
#search-block-form input[type="submit"] {
  background-image: url('../images/loupe_27x27.png');
  text-indent: -9999px;
  /* sends the text off-screen */
  height: 27px;
  /* be sure to set height & width */
  width: 27px;
  border: none;
  padding: 0;
  margin: 0;
  float: left;
  background-position-y: 0;
}
#search-block-form .form-item.form-type-textfield.form-item-search-block-form {
  display: block;
  float: right;
  margin: 0;
}
#search-block-form .container-inline {
  width: 167px;
}
#search-block-form input#edit-submit {
  position: relative;
  top: 5px;
  right: 5px;
}
.region-search {
  display: none;
}
.region-left-sidebar {
  margin-top: 20px;
}
.region-left-sidebar .form-item {
  margin: 0;
}
.region-left-sidebar .block .block-title {
  text-transform: none;
  border: none;
  margin-bottom: 20px;
}
.region-left-sidebar #user-login-form #edit-submit--2 {
  background-image: url("../images/IC_Plus.png");
}
#user-register-form label {
  display: block;
}
#user-register-form .form-type-radio label {
  display: inline;
}
#user-register-form fieldset#edit-field-site-web-und-0 legend {
  display: none;
}
#user-register-form fieldset#edit-field-site-web-und-0 span.fieldset-legend {
  display: none;
}
#edit-field-statut-und-select #user-register-form:first-child #user-register-form:first-child {
  margin-left: 0 !important;
}
#user-register-form #edit-field-statut-und-select .form-item {
  display: block;
  float: left;
}
#user-register-form #edit-field-statut-und-select .form-item input {
  margin: 5px 5px 0 20px;
  display: block;
  float: left;
}
#user-register-form #edit-field-statut-und-select .form-item label {
  display: block;
  float: left;
}
#user-register-form #edit-field-statut-und-select #edit-actions input {
  border: none;
}
#user-register-form #edit-actions input {
  background-image: url("../images/IC_Plus.png");
  border: none;
  display: block;
  float: left;
  margin-top: 4px;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: no-repeat;
  padding: 3px 0 0 32px;
  height: 27px;
}
#edit-field-statut .form-type-textfield.form-item-field-statut-und-other {
  display: block;
  clear: both;
}
div#edit-field-etablissement {
  display: block;
  clear: both;
}
#section-clients {
  background: none;
  margin-bottom: 20px;
  margin-left: 63px;
}
@media screen and (min-width: 992px) {
  .region-search {
    display: block;
  }
  .region-search input[type="text"] {
    width: 110px;
  }
  #section-header #dexp-dropdown {
    float: left;
  }
  #section-header #dexp-dropdown ul.menu li {
    display: block;
    float: left;
    padding: 5px 9px;
    height: 44px;
  }
  #section-header #dexp-dropdown ul.menu li a {
    line-height: 17px;
    padding: 0;
  }
  #section-header #dexp-dropdown ul.menu li:hover,
  #section-header #dexp-dropdown ul.menu li.active {
    background-color: #839e9a;
  }
  #section-header #dexp-dropdown ul.menu li:hover a,
  #section-header #dexp-dropdown ul.menu li.active a {
    color: white;
  }
}
@media screen and (min-width: 1200px) {
  .region-search input[type="text"] {
    width: 140px;
  }
}
