/*
* All custom style put here
*/
/* Déclaration constantes */
@gris: #839e9a;

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #333;
  &.node-type-page {
    div#left-sidebar-title {
      display: none;
    }
    #page-logo {
      .rightcol {
        background-image: url('../images/bannières/BannEDDEC_C.jpg');
        width: 100%;
        max-width: 840px;
        height: 200px;
      }
    }
  }
  &:not(.node-type-page) {
    div.region-content {
      h1 {
        display: none;
      }
    }
    #page-logo {
      display: none;
    }
    div#left-sidebar-title {
      width: 100%;
      h1 {
        margin-left: 15px;
        margin-top: 0;
      }
      hr {
        border-top: 1px solid black;
        margin: 0 0 0 15px;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6, .block-title {
  font-family: 'Open Sans',sans-serif;
  font-weight: 100;
  color: @gris;
}
h1, h2, h3, h4, h5, h6 {
  a {
    color: @gris;
  }
}
a:not(.btn) {
  color: black;
}
a.anchor {
  display: block;
  position: relative;
  top: -106px;
  visibility: hidden;
  height: 0;
}

label {
  font-weight: 300;
}

tbody {
  border: none;
}

.filled {
  content: "&nbsp;";
}

textarea {
  min-height: 10px;
}

em.placeholder:before,
em.placeholder:after {
    content: "'";
}

.btn {
  border: none;
  color: black;
  padding-left: 41px;
  background-position-y: 5px;
  background-position-x: 5px;
  background-repeat: no-repeat;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  white-space: normal;
  &.btn-check,
  &.form-submit {
    background-image: url('../images/IC_Crochet_27x27.png');
    &:hover {
      background-image: url('../images/IC_Crochet_Nr.png');
      color: white;
      background-color: @gris;
    }
  }
  &.btn-warning,
  &.btn-warning:hover{
    background-image: url('../images/IC_Note_27x27.png');
    background-color: white;
    cursor: initial;
    -webkit-user-select: initial;
    font-size: 13px;
  }
  &.btn-register,
  &.btn-plus {
    background-image: url('../images/IC_Plus.png');
    &:hover {
      background-image: url('../images/IC_Plus_Nr.png');
      color: white;
      background-color: @gris;
    }
  }
  &.btn-minus {
    background-image: url('../images/IC_Moins_Gr.png');
    &:hover {
      background-image: url('../images/IC_Moins_Nr.png');
      color: white;
      background-color: @gris;
    }
  }
  &.btn-primary.form-submit {
    background-image: url('../images/IC_Plus.png');
    &:hover {
      background-image: url('../images/IC_Plus_Nr.png');
      color: white;
      background-color: @gris;
    }
  }
  &.btn-search {
    background-image: url('../images/IC_Plus.png');
    font-size: 20px;
    margin-top: 0;
    padding: 8px 15px 8px 41px;
    background-position-x: 5px;
    background-position-y: 2px;
    &:hover {
      background-image: url('../images/IC_Plus_Nr.png');
      color: white;
      background-color: @gris;
    }
  }
  &.btn-primary {
    &:hover {
      background-color: @gris;
      a {
        color: white;
      }
    }
  }
}

div#block-block-23 {
  position: relative;
  bottom: 33px;
}

section {
  &#section-header {
    background: rgba(255,255,255,0.95);
    //box-shadow: 0 3px 3px rgba(0,0,0,0.05);
    margin-top: 10px;
    .col-xs-8.col-sm-10.col-md-3.col-lg-3 {
      display: none;
    }
    .region-top-left {
      float: left;
    }
    .region-top-right {
      float: right;
      div#block-block-2 {
        float: right;
      }
    }
    .region-user-01 {
      .block-title {
        text-align: center;
        text-transform: uppercase;
        color: @gris;
      }
      .block-menu {
        float: left;
        ul {
          height: 44px;
          border-right: 1px solid;
          margin: 0 0 17px;
          padding: 0 5px;
          li {
            display: block;
            float: left;
            padding: 5px 9px;
            margin: 0;
            a {
              line-height: 17px;
              padding: 0;
            }
          }
          li:hover, li.active {
            background-color: @gris;
            a {
              color: white;
            }
          }
        }
      }
      #block-menu-menu-sous-menu-usager-proposit.block-menu {
        ul {
          border-right: none;
        }
      }
    }
  }

  &#section-header .dexp-dropdown >ul>li>a,
  &#section-header .dexp-dropdown >ul>li>span.nolink {
    font-size: 16px;
  }

  &#section-main-content {
    .region-content {
      font-size: 14px;
      padding-top: 10px;
    }
  }

  &#section-top-content {
    margin-top: 20px;
  }

  &#section-user-4 {
    position: fixed;
    bottom: 0;
    width: 100%;
    .region-user-00, .region-user-02 {
      background: none;
      color: black;
      div.logo {
        float: left;
        clear: none;
        padding: 0;
      }
      background-color: white;
      padding: 0 0 12px 0;
    }
    .region-user-00 {
      opacity: 0;
    }
    #block-block-6 {
      border-top: solid black 2px;
    }
  }

  &#section-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
    .btn,
    .description {
      color: white;
    }
  }

}

#search-block-form {
  input[type="submit"] {
    background-image: url('../images/loupe_27x27.png');
    text-indent: -9999px;                 /* sends the text off-screen */
    height: 27px;                        /* be sure to set height & width */
    width: 27px;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
    background-position-y: 0;
  }
  .form-item.form-type-textfield.form-item-search-block-form {
    display: block;
    float: right;
    margin: 0;
  }
  .container-inline {
    width: 167px;
  }
  input#edit-submit {
    position: relative;
    top: 5px;
    right: 5px;
  }
}

.region-search {
  display: none;
}

.region-left-sidebar {
  padding-top: 10px;
  .form-item {
    margin: 0;
  }
  .block {
    .block-title {
      text-transform: none;
      border: none;
      margin-bottom: 20px;
    }
  }
  .btn-register {
    font-size: 23px;
    background-position-y: 10px;
  }
  #edit-field-categories-tid-wrapper,
  #edit-field-thematiques-d-intervention-tid-wrapper {
    label {
      display: none;
    }
  }
  input {
    background-color: white;
    border-color: @gris;
    line-height: 15px;
  }
  .chosen-container-multi {
    .chosen-choices {
      box-shadow: none;
      border-color: @gris;
      background-image: none;
      li {
        float: left;
        clear: both;
        width: 100%;
        color: @gris;
        input[type=text] {
          color: @gris !important;
        }
        &.search-choice {
          color: black;
          border: none;
          border-bottom: 1px solid @gris;
          border-radius: 0;
          background: none;
        }
      }
    }
  }
  .chosen-container .chosen-results li.highlighted {
    background-color: @gris;
    background-image: none;
    color: white;
  }
  .chosen-container-multi .chosen-choices li.search-field,
  #views-exposed-form-sujets-de-conference-page .compact-form-wrapper input {
    background-image: url("../images/IC_Defilement.png");
    background-position: right;
    background-repeat: no-repeat;
    height: 26px;
  }
  #views-exposed-form-sujets-de-conference-page .compact-form-wrapper input {
    background-position: right 5px top 1px;
  }
  .views-exposed-form .views-exposed-widget {
    &.compact-form-wrapper {
      height: 47px;
      width: 221px;
      padding-right: 0;
    }
    padding: 6px 12px 12px 0;
    clear: both;
  }
  #user-login-form {
    #edit-submit--2 {
      background-image: url("../images/IC_Plus.png");
    }
  }
  label {
    top: 1px;
    font-size: 1.0em;
    color: @gris;
    padding: 6px 12px 5px 5px;
  }
  .description {
    display: none;
  }
}

.view-display-id-block_1 span.views-label {
  width: 140px;
}

.view-sujets-de-conference,
.view-conferences {
  .view-display-id-page_4 {
    display: inline;
      .view-header {
      display: inline;
    }
    .view-content {
      display: none;
    }
  }
  .views-label-deux-points:after {
    content: " : ";
    color: black;
  }
  .views-label-grey {
    color: @gris;
  }
  .views-label-field-br-ve-presentation-de-l-ex {
    color: @gris;
    margin: 6px 0;
  }
  .views-contenu-rs-expertise {
    margin-bottom: 6px;
  }
  .views-field-field-categories .views-label {
    color: @gris;
  }
  .views-field-field-thematiques-d-intervention {
    margin-bottom: 6px;
  }
  .ui-state-default {
    a, a:link, a:hover {
      color: black;
    }
  }
  .ui-accordion .ui-accordion-header .ui-accordion-header-icon.ui-icon {
    display: none;
  }
  .ui-widget {
    font-family: "Open Sans", sans-serif;
    font-size: inherit;
  }
  .ui-state-default{
    border: none;
    background: none;
    font-weight: inherit;
    color: inherit;
    padding: 0;
  }
  .ui-accordion .ui-accordion-content {
    border: none;
    background-color: transparent;
  }
}

.views-label {
  color: @gris;
}
.views-field.views-field-views-conditional {
  float: left;
  clear: both;
}
#user-register-form,
#user-profile-form {
  div.form-item div.password-suggestions {
    margin: 0;
  }
  .form-item.form-type-password.form-item-pass-pass2.confirm-parent {
    height: 100px;
  }
  input#edit-pass-pass2 {
    margin-bottom: 24px;
  }
  .form-wrapper {
    float: left;
    clear: both ;
  }
  label {
    display: block;
  }
  .form-type-radio {
    label {
      display: inline;
    }
  }
  fieldset#edit-field-site-web-und-0 {
    legend {
      display: none;
    }
    span.fieldset-legend {
      display: none;
    }
  }
  #edit-field-statut-und &:first-child &:first-child {
    margin-left: 0 !important;
  }
  #edit-field-statut-und {
    .form-item {
      display: block;
      float: left;
      input {
        margin: 5px 5px 0 20px;
        display: block;
        float: left;
      }
      label {
        display: block;
        float: left;
      }
    }
    #edit-actions {
      input {
        border: none;
      }
    }
  }
  #edit-actions {
    input {
      background-image: url("../images/IC_Plus.png");
      border: none;display: block;
      float: left;
      margin-top: 4px;
      background-position-x: 0;
      background-position-y: 0;
      background-repeat: no-repeat;
      padding: 3px 0 0 32px;
      height: 27px;
    }
  }
  label[for="edit-pass-pass2"] {
    float: left;
    clear: left;
    margin-top: 30px;
  }
  div.password-confirm {
    margin-top: 30px;
  }
  .password-strength {
    margin-top: 0;
  }
  div.password-confirm {
    width: 18em;
  }
}

#edit-field-statut {
  .form-type-textfield.form-item-field-statut-und-other {
    display: block;
    clear: both;
  }
}

div#edit-field-etablissement {
  display: block;
  clear: both;
}

#section-clients {
  background: none;
  margin-bottom: 20px;
  margin-left: 63px;
}

div#block-menu-menu-menu-de-gauche {
  margin-top: 20px;
  .block-title {
    display: none;
  }
  li {
    list-style: none;
    margin: 5px 0;
    font-size: 16px;
    font-weight: normal;
    a {
      color: #777;
      &:hover {
        color: @gris;
      }
    }
  }
}

.top-content {
  color: @gris;
}

/*
* Overlay
*/
.overlay-modal-background {
  background: none;
}
body.overlay {
  #overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -110px;
    margin-top: -230px;
  }
  div#overlay-content {
    background-color: #EAEEEE;
  }
  .gauche {
    float: left;
    clear: left;
    width: 201px;
    .btn.btn-warning {
      font-size: 13px;
    }
  }
  .droit {
    float: right;
    padding-right: 26px;
    padding-left: 13px;
    h4 {
      margin-bottom: 0;
    }
    input[type="text"],
    input[type="password"]{
      width: initial;
      margin-bottom: 0;
      height: 23px;
    }
    .form-item-name,
    .form-item-pass,
    .form-wrapper {
      float: left;
      clear: both;
      label,
      input,
      .description {
        float: left;
        display: block;
        clear: both;
        margin-bottom: 10px;
      }
    }
    .btn-check {
      float: left;
      clear: both;
      width: 207px;
      line-height: 16px;
    }
  }
  .bas {
    float: left;
    clear: both;
    background-color: #829D99;
    width: 100%;
    text-align: center;
    .btn.btn-register {
      background-image: url('../images/IC_Plus_Nr.png');
      background-position-y: 5px;
      background-position-x: 41px;
      width: 100%;
      text-align: center;
      color: white;
      &:hover {
        background-image: url('../images/IC_Plus.png');
        color: black;
        background-color: white;
      }
    }
  }
  #overlay-close, #overlay-close:hover {
    background: transparent url(../images/close.png) no-repeat;
  }
  #overlay-title {
    display: none;
  }
  .milieu,
  div#overlay-content,
  div#overlay-titlebar,
  .container {
    width: 233px;
  }
  .form-item, .form-actions {
    margin-bottom: 0;
  }
  a:not(.btn) {
    color: @gris;
    font-size: 13px;
  }
}

body.page-user {
  .field.field-name-field-prenom.field-type-text.field-label-hidden {
    float: left;
    clear: left;
    margin-right: 5px;
  }
}

.gris {
  color: @gris;
}

body.page-user- {
  .field-label {
    width: 147px;
    font-weight: normal;
    color: @gris;
  }
  .field-name-field-br-ve-presentation-de-l-ex .field-label {
    width: 100%;
  }
  .field-type-viewfield .field-label {
     width: 225px;
   }
  .field-type-viewfield .view .view-content {
    display: none;
  }
  .field-name-field-br-ve-presentation-de-l-ex {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .field-type-number-integer .field-label {
    width: 250px;
  }
}

body.page-user-register {
  font-size: 13px;
  div.tabs{
    display: none;
  }
  #block-block-4 {
    border-bottom: 1px black solid;
  }
  input[type="text"],
  input[type="password"] {
    max-width: 300px;
    background-color: white;
    border-color: black;
    height: 25px;
    margin-bottom: 0;
  }
  .confirm-parent, .password-parent {
    max-width: 300px;
  }
  .large-input input[type="text"] {
    max-width: 100%;
  }
  .form-required,
  label {
    color: @gris;
    margin-bottom: 0;
    &[for="edit-field-statut-und-other"] {
      color: black;
    }
  }
  p.champ-obligatoire {
    margin-top: 22px;
  }
  .dexp-body-inner {
    height: auto;
  }
  div#edit-field-statut #edit-field-statut-und label {
    color: black;
  }
  .form-textarea-wrapper textarea {
    height: inherit;
    min-height: 0;
    background-color: white;
    border: 1px solid black;
  }
  #edit-field-br-ve-presentation-de-l-ex {
    border-top: 1px solid;
    margin-top: 32px;
    .form-item {
      margin-top: 7px;
    }
  }
  #edit-field-br-ve-presentation-de-l-ex-und-0-value-counter {
    color: @gris;
  }
  .description {
    float: left;
    color: @gris;
    font-size: 14px;
  }
  .form-item.form-type-password-confirm.form-item-pass {
    margin-bottom: 12px;
    float: left;
  }
  .form-wrapper {
    float: left;
    clear: both;
  }
  .form-item, .form-actions {
    margin-bottom: 0;
  }
  div#edit-field-statut {
    line-height: 17px;
  }
  #user-register-form #edit-field-statut-und .form-item input {
    margin-top: 1px;
  }
}

form#user-register-form {
  margin-bottom: 100px;
}

body.page-sece-overlay-ajouter-sujet-a-preselection {
  section#section-main-content {
    margin-bottom: 15px;
  }
  h4 {
    margin-bottom: 25px;
  }
  section#section-main-content {
    .container {
      width: 100%;
    }
    .region-content {
      margin-top: 4px;
    }
  }
  .btn.btn-plus {
    width: 100%;
  }
}

#block-block-21 {
  a.btn.btn-plus {
    background-position: top 15px left 5px;
  }
}
body.page-mes-propositions-de-conference,
body.page-mes-demandes-de-conference {
  .views-row {
    float: left;
    clear: both;
  }
  .views-field-moderation-actions li {
    float: left;
  }
  .views-field.views-field-state {
    color: #F36D42;
  }
}
//form#sujet-de-conference-node-form {
body.page-node-add-sujet-de-conference,
body.page-node-edit.node-type-sujet-de-conference {
  #edit-field-type,
  #edit-field-donnee {
    float: left;
    clear: both;
  }
  .workbench-info-block {
    display: none;
  }
  label.option {
    width: 184px;
    display: inline-table;
  }
  input[type=checkbox] {
    margin-top: -3px
  }
  .form-checkboxes .form-item {
    float: left;
    margin-right: 10px;
    line-height: 15px;
    height: 43px;
  }
  div#edit-field-thematiques-d-intervention,
  div#edit-body,
  div#edit-actions {
    float: left;
  }
  div#edit-field-autre-champ-d-expertise,
  div#edit-field-autre-thematique {
    float: left;
    clear: both;
    width: 100%;
  }
  label:not(.option):not([for="edit-field-autre-champ-d-expertise-und-0-value"]):not([for="edit-field-autre-thematique-und-0-value"]),
  .description,
  .counter {
    color: @gris;
    line-height: 15px;
    margin-bottom: 10px;
  }
  .form-item-workbench-moderation-state-new {
    display: none;
  }
  label:not(.option):not([for="edit-field-autre-champ-d-expertise-und-0-value"]):not([for="edit-field-autre-thematique-und-0-value"]) {
    font-size: 24px;
  }
  .btn {
    font-size: 14px;
  }
  .form-item.form-type-textfield.form-item-field-thematiques-d-intervention-und-other,
  .form-item.form-type-textfield.form-item-field-categories-und-other {
    float: left;
    margin-top: 0;
    .description {
      display: none;
    }
  }
  input#edit-title-field-und-0-value {
    margin-bottom: 0;
  }
  .form-item.form-type-textfield.form-item-title-field-und-0-value {
    margin-bottom: 38px;
  }
  .form-item .description {
    font-size: 1em;
  }
}


.ui-accordion-content .views-label {
  color: @gris;
}

.views-field.same-line {
  float: left;
  clear: none;
}
.views-field.first-on-line {
  float: left;
  clear: left;
}
.view-id-conferences > .view-content > .views-row,
.view-id-sujets_de_conference > .view-content > .views-row {
  float: left;
  clear: both;
}

.red {
  color: #F2693C;
}

textarea {
  line-height: 1.3em;
}

body.page-mes-conferences-preselectionnees {
  .views-field:not(.same-line) {
    float: left;
    clear: both;
  }
  .views-field.views-accordion-header,
  .ui-accordion-content .views-field {
    float: none;
  }

}

body.page-sece-overlay-ajouter-sujet-a-recevoir-,
body.page-sece-overlay-modifier-conference-a-recevoir-,
body.page-sece-overlay-ajouter-dans-conferences-recues-,
body.page-sece-overlay-supprimer-conference-a-recevoir- {
  section#section-main-content .region-content {
    margin-top: 0;
  }
  label {
    color: @gris;
    width: 54px;
    float: left;
  }
  input[disabled="disabled"] {
    background-color: #EAEEEE;
  }
  .form-type-date-popup.form-item-date label {
    float: left;
  }
  input#edit-date-datepicker-popup-0 {
    height: 27px;
    margin-left: 0;
    margin-bottom: 0;
    background-color: white;
    &[disabled="disabled"] {
      background-color: #EAEEEE;
    }
  }
  .form-item-date-date label,
  .description {
    display: none;
    line-height: 15px;
  }
  .form-item-date > .description {
    display: block;
    margin-left: 54px;
  }
  .form-item-heure .description {
    display: block;
    margin-left: 54px;
  }
  .form-item-lieu .description {
    display: block;
    float: left;
    clear: both;
    max-width: 341px;
    margin-left: 54px;
  }
  input#edit-heure {
    max-width: 170px;
    height: 28px;
    background-color: white;
    margin-bottom: 2px;
    &[disabled="disabled"] {
      background-color: #EAEEEE;
    }
  }
  textarea#edit-lieu {
    width: 289px;
    float: left;
    clear: right;
    background-color: white;
    height: 99px;
    &[disabled="disabled"] {
      background-color: #EAEEEE;
    }
  }
  .grippie {
    display: none;
  }
  input#edit-submit {
    float: left;
    clear: both;
    margin-top: 16px;
    &[disabled="disabled"] {
      background-color: #EAEEEE;
    }
  }
  section#section-main-content {
    margin-bottom: 0;
  }
  body.overlay div#overlay-content {
    width: 415px;
  }
}

.ui-timepicker-table td a {
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

body {
  #overlay {
    .container {
      padding-right: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  body,
  .chosen-container-multi .chosen-choices li.search-field input[type=text] {
    font-size: 12px;
  }
  body.overlay {
    #overlay {
      margin-left: -211px;
      margin-top: -159px;
    }
    .milieu,
    div#overlay-content,
    div#overlay-titlebar,
    .container {
      width: 492px;
    }
    .bas {
      .btn.btn-register {
        background-position-x: 176px;
      }
    }
  }
  body {
    #overlay {
      .droit {
        padding-right: 24px;
      }
    }
  }
  body.page-user-register {

    input[type="text"],
    input[type="password"],
    .confirm-parent, .password-parent {
      max-width: 440px;
      height: 25px;
    }
  }
  .region-left-sidebar {
    .views-exposed-form .views-exposed-widget {
      &.compact-form-wrapper {
        width: 145px;
      }
    }
  }
}

@media screen and (min-width: 844px) {
  body.page-conferences-proposees,
  body.page-conferences-recherchees {
    .region-content {
      height: 438px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .region.region-left-sidebar {
      height: 509px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

@media screen and (min-width: 992px) {
  body,
  .chosen-container-multi .chosen-choices li.search-field input[type=text] {
    font-size: 13px;
  }
  .region-search {
    display: block;
    input[type="text"] {
      width: 110px;
    }
  }
  #section-header {
    #dexp-dropdown {
      float: left;
      ul.menu {
        li {
          display: block;
          float: left;
          padding: 5px 9px;
          height: 44px;
          a {
            line-height: 17px;
            padding: 0;
          }
        }
        li:hover, li.active {
          background-color: @gris;
          a {
            color: white;
            height: 39px;
          }
        }
      }
    }
  }
  body {
    #overlay {
      .droit {
        padding-right: 26px;
      }
    }
  }
  .region-left-sidebar {
    .views-exposed-form .views-exposed-widget {
      &.compact-form-wrapper {
        width: 201px;
      }
    }
  }
}


@media screen and (min-width: 1200px) {
  .region-search {
    input[type="text"] {
      width: 140px;
    }
  }
  .region-left-sidebar {
    .views-exposed-form .views-exposed-widget {
      &.compact-form-wrapper {
        width: 221px;
      }
    }
  }
}

